<!-- Import the necessary CSS styles for the datepicker -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-GLhlTQ8iN17EtDDZ3v3QvrnLBtSG+6pZhp5uL9x7ZlH/Z9g3LZNpe6I2dJ+7Uhe" crossorigin="anonymous">


<div appBsModal
     #createOrEditModal="bs-modal"
     (onShown)="onShown()"
     class="modal fade create-or-edit-user-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="createOrEditModal"
     aria-hidden="true"
     [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title" *ngIf="user.id">
                        {{ 'Sửa văn bản pháp lí' | localize }}
                    </h4>
                    <button type="button"
                            class="btn-close"
                            (click)="close()"
                            [attr.aria-label]="l('Close')"
                            [disabled]="saving"></button>
                </div>

                <div class="modal-body">
                    <tabset>

                        <div class="row">
                            <div class="mb-5">
                                <label class="form-label" for="Name">{{ 'Số hiệu văn bản' | localize }} *</label>
                                <input id="Name"
                                       #nameInput="ngModel"
                                       class="form-control"
                                       type="text"
                                       name="Name"
                                       [(ngModel)]="user.name"
                                       required
                                       maxlength="64" />
                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                            </div>

                            <div class="mb-5">
                                <label class="form-label" for="Surname">{{ 'Tiêu đề' | localize }} *</label>
                                <input id="Surname"
                                       #surnameInput="ngModel"
                                       type="text"
                                       name="Surname"
                                       class="form-control"
                                       [(ngModel)]="user.surname"
                                       required
                                       maxlength="64" />
                                <validation-messages [formCtrl]="surnameInput"></validation-messages>
                            </div>
                            <!--</div>-->
                        </div>
                        <div class="mb-5">
                            <label class="form-label" for="EmailAddress">{{ 'Trích yếu' | localize }} *</label>
                            <input id="EmailAddress"
                                   #emailAddressInput="ngModel"
                                   type="email"
                                   name="EmailAddress"
                                   class="form-control"
                                   [(ngModel)]="user.emailAddress"
                                   required
                                   maxlength="256"
                                   email />
                            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                        </div>

                        <div class="mb-5">
                            <label class="form-label" for="PhoneNumber">{{ 'Loại văn bản' | localize }} *</label>
                            <select id="documentType"
                                    name="documentType"
                                    class="form-control"
                                    [(ngModel)]="documentType">
                                <option value="a">Văn bản quy phạm pháp luật</option>
                                <option value="b">Văn bản áp dụng pháp luật</option>
                                <option value="c">Văn bản hành chính</option>
                            </select>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-5">
                                    <label class="form-label" for="startDate">{{ 'Ngày hiệu lực' | localize }} *</label>
                                    <div class="input-group">
                                        <input id="startDate"
                                               type="text"
                                               class="form-control"
                                               bsDatepicker
                                               [(ngModel)]="startDate"
                                               [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY' }"
                                               name="startDate"
                                               required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-5">
                                    <label class="form-label" for="endDate">{{ 'Ngày hết hiệu lực' | localize }} *</label>
                                    <div class="input-group">
                                        <input id="endDate"
                                               type="text"
                                               class="form-control"
                                               bsDatepicker
                                               [(ngModel)]="endDate"
                                               [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY' }"
                                               name="endDate"
                                               required />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="modal-body">-->
                        <span class="border border-1"></span>
                        <!-- Thêm button -->
                        <label class="form-label" for="selectedFileName">{{ 'Toàn văn (doc, docx, pdf)' | localize }} *</label>
                        <input type="file" #fileInputAdd style="display:none" (change)="onFileSelected($event)" accept=".doc, .docx, .pdf" />

                        <button type="button"
                                class="btn btn-primary font-weight-bold me-2"
                                (click)="openFileExplorer(fileInputAdd)">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            <span>{{ 'Thêm' | localize }}</span>
                        </button>

                        <!-- Huỷ button -->
                        <button type="button"
                                class="btn btn-light-primary font-weight-bold"
                                (click)="desFunction()">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            {{ 'Huỷ' | localize }}
                        </button>
                        <!-- Hiển thị tên file đã chọn -->
                        <input id="selectedFileNameDisplay"
                               type="text"
                               name="selectedFileNameDisplay"
                               class="form-control"
                               readonly
                               [(ngModel)]="selectedFileName"
                               maxlength="128" />
                        <!-- Input file
    <input type="file"
           #fileInput
           style="display: none;"
           (change)="onFileSelected($event)"
           accept=".doc, .docx, .pdf" />-->
                        <!--</div>-->
                        <!--<div class="mb-5 custom-height">
        <label class="form-label" for="selectedFileName">{{ 'Toàn văn (doc, docx, pdf)' | localize }} *</label>
        <input id="selectedFileName"
               type="text"
               name="selectedFileName"
               class="form-control"
               [(ngModel)]="selectedFileName"
               maxlength="128" />
    </div>-->

                    </tabset>
</div>
                <div class="modal-footer">
                    <button [disabled]="saving"
                            type="button"
                            class="btn btn-light-primary font-weight-bold"
                            (click)="close()">
                        {{ 'Huỷ' | localize }}
                    </button>
                    <button type="submit"
                            class="btn btn-primary font-weight-bold"
                            [disabled]="!userForm.form.valid"
                            [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Lưu' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add the following scripts at the end of your HTML file -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.bundle.js"></script>
