<!-- Import the necessary CSS styles for the datepicker -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha384-GLhlTQ8iN17EtDDZ3v3QvrnLBtSG+6pZhp5uL9x7ZlH/Z9g3LZNpe6I2dJ+7Uhe" crossorigin="anonymous">


<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade create-or-edit-user-modal"
     tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true"
     [config]="{ backdrop: 'static', keyboard: !saving }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title fw-bolder" *ngIf="user.id">
                        {{ 'Sửa văn bản pháp lí' | localize }}
                    </h4>
                    <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')"
                            [disabled]="saving"></button>
                </div>

                <div class="modal-body" *ngIf="!showEditHistory">
                    <button type="button" class="btn btn-primary font-weight-bold rounded-3 btn-history"
                            (click)="showEditHistory = !showEditHistory">
                        <i class="fa fa-history" aria-hidden="true"></i>
                        <span class="text-white">{{ 'Xem lịch sử chỉnh sửa' | localize }}</span>
                    </button>
                </div>

                <div class="modal-body" *ngIf="!showEditHistory">
                    <div class="mb-5">
                        <label class="form-labe fw-bold" for="Name">{{ 'Số hiệu văn bản' | localize }} *</label>
                        <input id="Name" #nameInput="ngModel" class="form-control" type="text" name="Name"
                               [(ngModel)]="user.name" required maxlength="64" />
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                    </div>

                    <div class="mb-5">
                        <label class="form-label fw-bold" for="Surname">{{ 'Tiêu đề' | localize }} *</label>
                        <input id="Surname" #surnameInput="ngModel" type="text" name="Surname"
                               class="form-control" [(ngModel)]="user.surname" required maxlength="64" />
                        <validation-messages [formCtrl]="surnameInput"></validation-messages>
                    </div>
                    <div class="mb-5">
                        <label class="form-label fw-bold" for="EmailAddress">{{ 'Trích yếu' | localize }} *</label>
                        <input id="EmailAddress" #emailAddressInput="ngModel" type="email" name="EmailAddress"
                               class="form-control" [(ngModel)]="user.emailAddress" required maxlength="256" email />
                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                    </div>

                    <div class="mb-5 select-with-arrow">
                        <label class="form-label fw-bold" for="documentType">{{ 'Loại văn bản' | localize }} *</label>
                        <div class="select-wrapper">
                            <select id="documentType" name="documentType" class="form-control" [(ngModel)]="documentType">
                                <option value="a">Văn bản quy phạm pháp luật</option>
                                <option value="b">Văn bản áp dụng pháp luật</option>
                                <option value="c">Văn bản hành chính</option>
                            </select>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-5">
                                <label class="form-label fw-bold" for="startDate">{{ 'Ngày hiệu lực' | localize }} *</label>
                                <div class="input-group">
                                    <input id="startDate" type="text" class="form-control" bsDatepicker
                                           [(ngModel)]="startDate"
                                           [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY' }"
                                           name="startDate" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-5">
                                <label class="form-label fw-bold" for="endDate">{{ 'Ngày hết hiệu lực' | localize }} *</label>
                                <div class="input-group">
                                    <input id="endDate" type="text" class="form-control" bsDatepicker
                                           [(ngModel)]="endDate"
                                           [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD/MM/YYYY' }"
                                           name="endDate" required />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Thêm button -->
                    <div>
                        <label class="form-label" for="selectedFileName">{{'Toàn văn (doc, docx, pdf)' | localize}} *</label>
                        <div style="border: 1px solid #ccc; border-radius: 4px">
                            <div class="p-4" style="border-bottom: 1px solid #ccc;">
                                <button type="button" class="btn font-weight-bold me-2 rounded-3"
                                        (click)="openFileExplorer(fileInputAdd)" style="background-color: #3f51b5;">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <span class="text-white">{{ 'Thêm' | localize }}</span>
                                </button>

                                <!-- Huỷ button -->
                                <button type="button" class="btn btn-light-primary font-weight-bold rounded-3"
                                        (click)="desFunction()" style="background-color: #3f51b5">
                                    <i class="fa fa-times" aria-hidden="true" style="color: white;"></i>
                                    <span class="text-white">{{ 'Huỷ' | localize }}</span>
                                </button>
                            </div>
                            <!-- Upload file  -->
                            <input type="file" #fileInputAdd style="display:none" (change)="onFileSelected($event)"
                                   accept=".doc, .docx, .pdf" multiple />
                            <div *ngIf="selectedFiles.length > 0">
                                <ul>
                                    <li *ngFor="let file of selectedFiles; let index = index" class="file-item">
                                        <img [src]="getFileTypeIcon(file.name)" class="file-icon" />
                                        <div class="file-name-container">
                                            <span class="file-name">{{ file.name }}</span>
                                        </div>
                                        <span class="file-size">{{ formatFileSize(file.size) }}</span>
                                        <button type="button" class="remove-button" class="btn btn-light-primary font-weight-bold rounded-3"
                                                (click)="removeFile(index)" style="background-color: #3f51b5; padding: 13px 15px; font-size: 12px;">
                                            <i class="fa fa-times" aria-hidden="true" style="color: white;"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-body" *ngIf="showEditHistory">
                    <div class="modal-body" *ngIf="showEditHistory">
                        <button type="button" class="btn btn-primary font-weight-bold rounded-3 button-left"
                                (click)="showEditHistory = !showEditHistory">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="modal-footer" *ngIf="!showEditHistory">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold rounded-3"
                            (click)="close()">
                        {{ 'Huỷ' | localize }}
                    </button>
                    <button type="submit" class="btn btn-primary font-weight-bold rounded-3" [disabled]="!userForm.form.valid"
                            [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i>
                        <span>{{ 'Lưu' | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Add the following scripts at the end of your HTML file -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.bundle.js"></script>
